
{% extends 'base.html' %}

{% block content %}

<style> 
    .good { background-color: #00e400;}
    .moderate { background-color: #ffff00}
    .usg { background-color: #ff7e00; color: white}
    .unhealthy { background-color: #ff0000; color: white}
    .veryunhealthy { background-color: #99004c; color: white}
    .hazardous { background-color: #7e0023; color: white}

</style>

<h1>US Air Quality</h1>
<br/>

{% if zipcode %}
    {{ zipcode }}
{% endif %}

{% if api %}
    {% if api == "Error"  %}
        Error while fetching data from airnow.gov
    {% else %}
    <div class="card {{ category_color }}" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ api.0.ReportingArea }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Parameter: {{ api.0.ParameterName}}</h6>
          <p class="card-text">
              Date Observed: {{ api.0.DateObserved }}<br/>
              Air Quality: {{ api.0.AQI }}<br/>
              Category: {{ api.0.Category.Name }}<br/>
              <hr>
            <small>
                {{ category_description }}
            </small>
          </p>
        </div>
      </div>
      <br/>
      <p>{{ api }} <br/><br/></p>
    {% endif %}
{% else %}
    No data for zipcode found
{% endif %}


{% endblock content %}



